.service-card-container {
    display: flex;
    gap: 15px;
}
.services-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95vh;
}