.About {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #14bdad;
    padding: 1rem 5% 2rem;
    background-image: url('../../../public/AboutImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.AboutContent {
    text-align: left;
    justify-content: flex-end;
    width: 30%;
}
.About .secondary-color {
    font-size: 60px;
    color: #14bdad;
    font-weight: 600;
    cursor: default;
}
.AboutContent span {
    font-size: 60px;
}
.AboutContent h2 {
    font-weight: 500;
}