.Home {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1f242d;
    padding: 1rem 5% 2rem;
}
.HomeImage {
    width: 60%;
}
.HomeContent {
    width: 40%;
    text-align: right;
}
.Home img{
    width: 100%;
    height: auto;
}
.Home .primary-color {
    font-size: 60px;
    color: #14bdad;
    font-weight: 600;
    cursor: default;
}
.HomeContent h1 {
    font-size: 60px;
}
.HomeContent h2 {
    font-weight: 500;
}
.Home .button {
    background-color: #14bdad;
    border: none;
    border-radius: 45px;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 2px;
    cursor: pointer;
  }
